.todo {
  border: 1px solid #333;
  margin: -1px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.todo.completed {
  background-color: rgb(0, 26, 255);
  color: #fff;
  text-decoration: line-through;
}
